.countainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2%;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #fdb03a;
  background: -webkit-linear-gradient(bottom left, #d2592a 0%, #fdb03a 100%);
  background: -moz-linear-gradient(bottom left, #d2592a 0%, #fdb03a 100%);
  background: -o-linear-gradient(bottom left, #d2592a 0%, #fdb03a 100%);
  background: linear-gradient(to top right, #d2592a 0%, #fdb03a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D2592A', endColorstr='#FDB03A',GradientType=1 );
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.counter {
  display: flex;
  color: black;
  position: absolute;
  height: 40px;
  width: 300px;
  top: 180px;
  left: 50px;
  justify-content: space-around;
  background: #fff;
  border-radius: 20px;
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.1);
}
.incBtn {
  border: none;
  color: green;
  border-radius: 50%;
  background-color: #fff;
  width: 40px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  margin-right: auto;
}
.decBtn {
  border: none;
  color: red;
  border-radius: 50%;
  background-color: #fff;
  width: 40px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
}
.incBtn:hover {
  background-color: green;
  color: #fff;
}
.decBtn:hover {
  background-color: red;
  color: #fff;
}
.text {
  margin-top: auto;
  margin-bottom: auto;
}
